* {
    margin: 0 auto;
}

ul {
    list-style: none;
}

.body_login {
    background-color: #F5F2F0;
}

.container {
    background-color: #F5F2F0;
    min-height: 450px;
    text-align: center;
    padding-top: 40px;
}

.form-group {
    margin: 5px;
    min-height: 40px;
    font-size: 20px;
}

.form-group input {
    font-size: 20px;
}

h1 {
    font-size: 36px;
    width: 650px;
}

.btn {
    margin-bottom: 50px;
}

.form_login {
    margin-top: 20px;    
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.login_input {
    margin: 20px;
    font-size: 20px;
}

input:hover {
    border-color: #2A295F;
}
.container {
    text-align: center;
    font-size: 22px;
}
.container p {
    font-size: 22px;
    font-weight: bold;                
}
.message {
  color: white;
}   

.border {
    border: 1px solid;
    border-radius: 20px;
    width: 500px;
    padding: 50px;
    margin-bottom: 20px;
}    

.border1 {
    border-color: blue;
}

.border2 {
    border-color: red;
}

.admin_table {
    border-collapse: collapse;            
}
td, th {
    border: 1px solid grey;
    padding: 5px;
}
th {
    background-color: #EEEEEE;
}
input {
    margin-bottom: 20px;
}

.consolidate {
    margin-bottom: 0;
}

form {
    display: inline-block;            
}
a {
    margin-right: 5px;
}

.container_admin {
     text-align: center;
     margin: 15px auto;
}

.container_admin h2 {
    margin-bottom: 10px;
}