 <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../style.css"> 
    </head>
    <body>
        <div class="container_admin"> 
            <h2>Добро пожаловать, {{user}}!<br> Вот Ваш список дел</h2>            
            <form method="get" action="controller_admin.php">
                <input name="{{ input_name }}" placeholder="Введите описание дела" value="{% if  value is defined %}{{ value }}{% endif %}">  
                <input type="hidden" name="id" value="{{ id }}">       
                <input type="submit" name="" value="Сохранить">
            </form>    
            <form id="choice" method="get">Отсортировать по:
            </form>
                <select name="selection" form="choice">
                    <option value="date">Дате добавления</option>
                    <option value="status">Статусу</option>
                    <option value="description">Описанию</option>    
                </select>
            <input type="submit" form="choice" value="Отсортировать">
        </div>
        <table class="admin_table">
            <tr>
                <th>Описание задачи</th>
                <th>Дата добавления </th>
                <th>Статус</th>
                <th>Изменить/Выполнить/Удалить</th>   
                <th>Ответственный</th>
                <th>Автор</th>  
                <th>Закрепить задачу за пользователем</th>            
            </tr>
            {% for cell in data %}          
            <tr>              
                <td>{{ cell['description'] }}</td>
                <td>{{ cell['date_added'] }}</td>
                <td style="color: {% if  cell['is_done'] == 0 %} orange {% else %} green {% endif %}">
                    {% if  cell['is_done'] == 0 %} В процессе {% else %} Выполнено {% endif %}
                </td>            
                <td>
                    <a href="controller_admin.php?id={{ cell['id'] }}&action=edite">Изменить</a>                    
                    <a href="controller_admin.php?id={{ cell['id'] }}&action=done">Выполнить</a>                                        
                    <a href="controller_admin.php?id={{ cell['id'] }}&action=delete">Удалить</a>                    
                </td>  
                <td>{{ cell['login2'] }}</td>
                <td>{{ cell['login1'] }}</td>
                <td>
                    <form id="consolidate{{ cell['id'] }}" method="get">      
                        <select name="assign_user" form="consolidate{{ cell['id'] }}">                            
                               {% for login in logins %}
                                    <option value="{{login['id']}}">{{ login['login'] }}</option>
                               {% endfor %}                           
                        </select>
                        <input type="hidden" name="date_id" value="{{ cell['id'] }}">
                        <input class="consolidate" type="submit" form="consolidate{{ cell['id'] }}" value="Переложить ответственность"> 
                    </form>                       
                </td>                       
            </tr>
            {% endfor %}
        </table>
        <div class="container_admin">
            <h3>Также посмотрите, что от Вас требуют другие люди</h3>
        </div>
        <table class="admin_table">
            <tr>
                <th>Описание задачи</th>
                <th>Дата добавления </th>
                <th>Статус</th>
                <th>Изменить/Выполнить</th>   
                <th>Ответственный</th>
                <th>Автор</th>                          
            </tr>
            {% for cell_require in data_require %}
            <tr>              
                <td>{{ cell_require['description'] }}</td>
                <td>{{ cell_require['date_added'] }}</td>
                <td style="color: {% if  cell_require['is_done'] == 0 %} orange {% else %} green {% endif %}">
                    {% if  cell_require['is_done'] == 0 %} В процессе {% else %} Выполнено {% endif %}
                </td> 
                <td>
                    <a href="controller_admin.php?id={{ cell_require['id'] }}&action=edite">Изменить</a>                    
                    <a href="controller_admin.php?id={{ cell_require['id'] }}&action=done">Выполнить</a>                                     
                </td>  
                <td>{{ cell_require['login2'] }}</td>
                <td>{{ cell_require['login1'] }}</td>                          
            </tr>
            {% endfor %}
        </table>
        <ul class="container_admin">
            <li><a href="../controller/controller_admin.php?logout=1" >Выйти</a></li>            
        </ul>        
    </body>
    </html>